:root {
    --primary-color: #e8e8e8;
    --secondary-color: #212121;
    --tertiary-color: #1e1e1e;
    --quaternary-color: #E53935;
    --quinary-color: #2196F3;
    --senary-color: ##4CAF50;
  
    --tex-color: #fff;
    --secondary-text-color: #121212;
    --label: #151717;
  
    --btn: #151717;
    --secondary-btn: #FF6600;
    --tertiary-btn:#FFC107;
  
    --input-group: #fffffff3;
  }

  body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1020px;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
  }
  
  header {
    width: 100%;;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  /* .dark-mode header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
  } */